In [3]:
import mysql.connector
from mysql.connector import Error
from config import db_config

def create_connection():
    try:
        connection = mysql.connector.connect(**db_config.DATABASE_CONFIG)
        if connection.is_connected():
            print('연결 성공')
            return connection
    
    except Error as e:
        print(f"에러 발생: {e}")
        return None

In [5]:
connection = create_connection()
# connection.close()

연결 성공

In [3]:
connection

In [4]:
cursor = connection.cursor()

In [5]:
cursor

In [6]:
query = """
SELECT * FROM test
"""

In [7]:
cursor.execute(query)

In [8]:
result = cursor.fetchall()
result

[('D', 'GMP', 'Y', '06', 0, 2656, 20240831, 'D'),
 ('A', 'GMP', 'N', '07', 0, 173, 20240831, 'D'),
 ('D', 'GMP', 'Y', '07', 0, 2258, 20240831, 'D'),
 ('D', 'GMP', 'N', '07', 0, 315, 20240831, 'I'),
 ('A', 'GMP', 'N', '08', 0, 914, 20240831, 'D'),
 ('D', 'GMP', 'N', '08', 0, 1434, 20240831, 'D'),
 ('D', 'GMP', 'N', '08', 0, 601, 20240831, 'I'),
 ('A', 'GMP', 'Y', '09', 0, 2128, 20240831, 'D'),
 ('D', 'GMP', 'N', '09', 0, 1795, 20240831, 'D'),
 ('D', 'GMP', 'N', '09', 0, 415, 20240831, 'I')]

In [9]:
cursor.description

[('aod', 252, None, None, None, None, 1, 16, 255),
 ('arp', 252, None, None, None, None, 1, 16, 255),
 ('congestyn', 252, None, None, None, None, 1, 16, 255),
 ('hh', 252, None, None, None, None, 1, 16, 255),
 ('pcg', 3, None, None, None, None, 1, 32768, 63),
 ('pct', 3, None, None, None, None, 1, 32768, 63),
 ('sdt', 3, None, None, None, None, 1, 32768, 63),
 ('tof', 252, None, None, None, None, 1, 16, 255)]

In [10]:
columns = [desc[0] for desc in cursor.description]
columns

['aod', 'arp', 'congestyn', 'hh', 'pcg', 'pct', 'sdt', 'tof']

In [11]:
import pandas as pd

df = pd.DataFrame(result, columns=columns)
df

  aod  arp congestyn  hh  pcg   pct       sdt tof
0   D  GMP         Y  06    0  2656  20240831   D
1   A  GMP         N  07    0   173  20240831   D
2   D  GMP         Y  07    0  2258  20240831   D
3   D  GMP         N  07    0   315  20240831   I
4   A  GMP         N  08    0   914  20240831   D
5   D  GMP         N  08    0  1434  20240831   D
6   D  GMP         N  08    0   601  20240831   I
7   A  GMP         Y  09    0  2128  20240831   D
8   D  GMP         N  09    0  1795  20240831   D
9   D  GMP         N  09    0   415  20240831   I