In [1]:
# 1. 변수는 항상 왼쪽에 온다.
# 2. = 기호를 사용해서 변수에 값을 할당한다.

number = 10
korean = "안녕하세요?"
mylist = [1, 2, 3, "가", 11, -20]

In [3]:
print("abc")

NameError: name '안녕하세요' is not defined

In [4]:
num1 = 10
num2 = 5

add_result = num1 + num2
sub_result = num1 - num2
mul_result = num1 * num2
div_result = num1 / num2

print("덧셈 결과:", add_result)
print("뺄셈 결과:", sub_result)
print("곱셈 결과:", mul_result)
print("나눗셈 결과:", div_result)

덧셈 결과: 15
뺄셈 결과: 5
곱셈 결과: 50
나눗셈 결과: 2.0

In [9]:
# 숫자
integer_num = 10
float_num = 3.14

print("정수 타입 변수: ", type(integer_num))
print("부동소수점 타입 변수: ", type(float_num))

정수 타입 변수:  <class 'int'>
부동소수점 타입 변수:  <class 'float'>

In [12]:
# 문자열 타입 예제
string_variable = "Hello, Python!"
print("문자열 타입 변수: ", type(string_variable))

문자열 타입 변수:  <class 'str'>

In [13]:
# 리스트
mylist = [1, 2, 3, "가", 11, -20, 1]

# 튜플(Tuple):(1, 2) , (10, 20)
# 세트(Set) : 집합. 중복X, 순서X. {}
# 딕셔너리(Dictionary) : {} {'name':'Kim', 'phone': '010-0000-0000'}

In [15]:
print(type(1))
print(type(1.0))

<class 'int'>
<class 'float'>

In [16]:
print(type(1))
print(type("1"))

<class 'int'>
<class 'str'>